{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Courses</title>
{% endblock title %}

{% block body %}
<div id="banner21" class="banner2">
    we're not a <span class="color_text">course <br> factory.</span><br><br>
    <span id="heading2">we focus on courses that really help.</span>
</div>
<div id="courses_div">
    <h1 id="course_heading">Courses which do work v</h1>
    <div id="course_cards_div">
        <div class="course_cards">
            <a href="">
                <div class="card_imgs">
                    <img src="https://ik.imagekit.io/sheryians/courses_gif/Front-End_Domination__Create_Anything_with_Code-FRONTENDTHUBNAIL_Wf8WqcNJx.jpg" alt="" class="card_top_img">
                    <div class="img_down">
                        <h1 class="course_name">Front-End Domination: <br>Create Anything with Code</h1>
                        <h1 class="c_lang">HINDI</h1>
                        <h1 class="dis_stmnt">Limited Time Discount</h1>
                        <h1 class="price">$4999 <span class="old_price">$9999</span></h1>
                        <h1 class="offer">50% OFF</h1>
                    </div>
                </div>
            </a>
            <button class="view_details">
                View Details
            </button>
        </div>
        <div class="course_cards">
            <a href="">
                <div class="card_imgs">
                    <img src="https://ik.imagekit.io/sheryians/courses_gif/undefined-backend_0.5x_Medium_wgHDU-5rPt.png" alt="" class="card_top_img">
                    <div class="img_down">
                        <h1 class="course_name">Back-End Domination: <br>Create Efficient BAck-End.</h1>
                        <h1 class="c_lang">HINDI</h1>
                        <h1 class="dis_stmnt">Limited Time Discount</h1>
                        <h1 class="price">$5999</h1>
                        <h1 class="offer">50% OFF</h1>
                    </div>
                </div>
            </a>
            <button class="view_details">
                View Details
            </button>
        </div>
        <div class="course_cards">
            <a href="">
                <div class="card_imgs">
                    <img src="https://ik.imagekit.io/sheryians/courses_gif/undefined-apti_reasoning_45vyAnZ4y.jpeg" alt="" class="card_top_img">
                    <div class="img_down">
                        <h1 class="course_name">Aptitude & Reasoning for <br>Campus Placements</h1>
                        <h1 class="c_lang">HINGLISH</h1>
                        <h1 class="dis_stmnt">Black Friday Sale</h1>
                        <h1 class="price">$999<span class="old_price">$1500</span></h1>
                        <h1 class="offer">33% OFF</h1>
                    </div>
                </div>
            </a>
            <button class="view_details">
                View Details
            </button>
        </div>
        <div class="course_cards">
            <a href="">
                <div class="card_imgs">
                    <img src="https://ik.imagekit.io/sheryians/courses_gif/undefined-javaas_Large_jY0Wighav__6PygWBZQ.jpeg" alt="" class="card_top_img">
                    <div class="img_down">
                        <h1 class="course_name">Java & DSA Domination</h1>
                        <h1 class="c_lang">HINGLISH</h1>
                        <h1 class="dis_stmnt">Limited Time Discount</h1>
                        <h1 class="price">$4999<span class="old_price">$9999</span></h1>
                        <h1 class="offer">50% OFF</h1>
                    </div>
                </div>
            </a>
            <button class="view_details">
                View Details
            </button>
        </div>
        <div class="course_cards">
            <a href="">
                <div class="card_imgs">
                    <img src="https://ik.imagekit.io/sheryians/courses_gif/undefined-maxresdefault_5-AHh9_1Y.jpg" alt="" class="card_top_img">
                    <div class="img_down">
                        <h1 class="course_name">Three.js Domination</h1>
                        <h1 class="c_lang">HINDI</h1>
                        <h1 class="dis_stmnt">Black Friday Sale</h1>
                        <h1 class="price">$2499 <span class="old_price">$3500</span></h1>
                        <h1 class="offer">29% OFF</h1>
                    </div>
                </div>
            </a>
            <button class="view_details">
                View Details
            </button>
        </div>
    </div>
</div>
{% endblock body %}