@font-face {
    font-family: Helvetica;
    src: url(../static/Fonts/Helvetica/Helvetica-Bold.ttf);
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: transparent;
    backdrop-filter: blur(10px);
}
#container{
    position: absolute;
    left: 40%;
    top: 200px;
    width: fit-content;
    height: fit-content;
    background-color: lightslategray;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Helvetica;
}
#close_button{
    font-size: 10px;
    text-align: right;
}
#rqst_hdng{
    font-size: 20px;
    margin-top: 20px;
}
#fillform{
    margin-top: 20px;
    font-size: 10px;

}
.labels{
    font-size: 15px;
    text-align: left;
    margin-left: 17px;
    margin-top: 20px;
}
.inpts{
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: black;
}
#sbmt_btn{
    border-radius: 5px;
    width: 80%;
    height: 20px;
    margin-top: 20px;
    background-color: aquamarine;
    border: none;
    outline: none;
    font-size: 10px;
}